@font-face {
  font-family: 'Public Sans';
  font-weight: 400;
  src: url('/fonts/public-sans/PublicSans-Regular.woff2') format('woff2'),
    url('/fonts/public-sans/PublicSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 500;
  src: url('/fonts/public-sans/PublicSans-Medium.woff2') format('woff2'),
    url('/fonts/public-sans/PublicSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 600;
  src: url('/fonts/public-sans/PublicSans-SemiBold.woff2') format('woff2'),
    url('/fonts/public-sans/PublicSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 700;
  src: url('/fonts/public-sans/PublicSans-Bold.woff2') format('woff2'),
    url('/fonts/public-sans/PublicSans-Bold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Public Sans, Untitled Sans, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

svg {
  vertical-align: middle;
}

html,
body,
#root,
#__next,
#__next > div,
.theme-0 {
  min-height: 100vh;
}

#__next {
  position: relative;
  z-index: 0;
}
